body{
    text-align: center;
    /* margin: 0px 20px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: rgb(31, 5, 49);
}
h2{
    margin: 0;
}
header{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 25px 0px;
    background-color: rgb(31, 5, 49);
}
header a{
    color: white;
    text-decoration: none;
    width: 10%;
}
section.myphoto{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    /* background-image: url(bckgrnd.png); */
    background-color: rgb(249, 223, 80);
}
section img{
    /* box-shadow: -5px -5px plum; */
    padding: 30px;
}
.aboutcont{
    margin: 10px;
    text-align: left;
    padding: 100px 50px 50px 50px;
}
.hello{
    display: flex;
    /* margin: ; */
    font-size: 12px;
    font-style: italic;
    font-family: ;
}
.purple{
    background-color: rgb(31, 5, 49);
    color: white;
}
.services{
    padding: 30px 0px;
}
.services p{
    display: inline-flex;
    justify-content: space-evenly;
    width: 30%;
    /* height: 100px; */
    padding: 40px 0px;
    border: 1px solid rgb(249, 223, 80);
    /* margin: 25px; */
}
.skills{
    padding: 30px 0px;
}
.skills h2{
    padding-bottom: 20px;
}
.skills div{
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
}
.projects{
    padding: 30px 0px;
}
.projects p{
    display: inline-flex;
    width: auto;
    border-bottom: 1px  solid rgb(249, 223, 80);
    border-left: 1px  solid rgb(249, 223, 80);
    justify-content: space-evenly;
    margin: 20px;
    padding: 0px 10px;

}
.background{
    padding: 30px 0px;
}
.background p{
    display: block;
    text-align: left;
    margin-left: 10%;
    padding-left: 5px;
    padding-top: 10px;
    border-left: 1px solid rgb(249, 223, 80);
}
.findme{
    background-color: rgb(249, 223, 80);
    display: block;
}
.findme h2{
    padding: 30px 0px;
}
input[type=text], select, textarea{
    width: 70%;
    padding: 12px;
    border-bottom: 1px solid rgb(31, 5, 49);
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email], select, textarea{
    width: 70%;
    padding: 12px;
    border-bottom: 1px solid rgb(31, 5, 49);
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    border: 1px solid rgb(31, 5, 49);
    padding: 12px 20px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(249, 223, 80);
}
.container{

}


footer{
    height: 100px;
    padding-top: 40px;
    justify-content: space-evenly;
}
footer a{
    width: 15%;
    margin: 0 30px 0 30px;
    color: rgb(249, 223, 80);
}